<!DOCTYPE html>
{% load staticfiles %}
<meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>GzArch</title>
    <script type="text/javascript" src="{% static 'jQuery-2.1.4/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">简介</a>
                    </li>
                    <li class="disabled">
                        <a href="#">信息</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">操作</a>
                            </li>
                            <li>
                                <a href="#">设置栏目</a>
                            </li>
                            <li>
                                <a href="#">更多设置</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">分割线</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="carousel slide" id="carousel-178979">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-178979">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-178979">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-178979">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="i非遗建筑" src="{% static 'img/头门1-4立面图照片.jpg' %}" class="img-thumbnail"  sizes=""/>
                            <div class="carousel-caption" >
                                <h1>
                                    <big><big><big><i>i.</i>非遗建筑</big></big></big>
                                </h1>
                                <p>
                                   岭南非遗建筑保护资料站
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="i非遗建筑" src="{% static 'img/头门1-4立面图.jpg' %}" class="img-thumbnail" />
                            <div class="carousel-caption">
                                <h1>
                                    <big><big><big><i>i.</i>非遗建筑</big></big></big>
                                </h1>
                                <p>
                                    岭南非遗建筑保护资料站
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="i非遗建筑" src="{% static 'img/头门C-A立面图.jpg' %}" class="img-thumbnail" />
                            <div class="carousel-caption">
                                <h1>
                                    <big><big><big><i>i.</i>非遗建筑</big></big></big>
                                </h1>
                                <p>
                                    岭南非遗建筑保护资料站
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-178979" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-178979" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-1 column">
                <div class="btn-group">
                    <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a role="menuitem" href="#">我的操作</a>
                        </li>
                        <li class="disabled">
                            <a href="#">禁止的操作</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">其它</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 column">
                <div class="btn-group">
                    <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作</a>
                        </li>
                        <li class="disabled">
                            <a href="#">另一操作</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">其它</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 column">
                <div class="btn-group">
                    <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作</a>
                        </li>
                        <li class="disabled">
                            <a href="#">另一操作</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">其它</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 column">
                <div class="btn-group">
                    <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作</a>
                        </li>
                        <li class="disabled">
                            <a href="#">另一操作</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">其它</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 column">
                <div class="btn-group">
                    <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作</a>
                        </li>
                        <li class="disabled">
                            <a href="#">另一操作</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">其它</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 column">
                <input class="form-control" title="内容" value="照片"  >
                <!--<button class="btn btn-default"></button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>-->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">操作</a>
                    </li>
                    <li class="disabled">
                        <a href="#">另一操作</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">其它</a>
                    </li>
                </ul>
                
            </div>
            <div class="col-md-1 column">
                <input class="form-control" value="非遗类型">
                    <!--<button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作一</a>
                        </li>
                        <li class="disabled">
                            <a href="#">被禁操作</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">其它</a>
                        </li>
                    </ul>
                </input>
            </div>
            <div class="col-md-5 column">
                <nav class="navbar navbar-default navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#">Link</a>
                            </li>
                            <li>
                                <a href="#">Link</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">One more separated link</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">Link</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <div class="tabbable" id="tabs-213291">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#panel-423334" data-toggle="tab">Section 1</a>
                                </li>
                                <li>
                                    <a href="#panel-228513" data-toggle="tab">Section 2</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-423334">
                                    <p>
                                        I'm in Section 1.
                                    </p>
                                </div>
                                <div class="tab-pane" id="panel-228513">
                                    <p>
                                        Howdy, I'm in Section 2.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 column">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Library</a>
                            </li>
                            <li class="active">
                                Data
                            </li>
                        </ul>
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        产品
                                    </th>
                                    <th>
                                        交付时间
                                    </th>
                                    <th>
                                        状态
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Default
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                </tr>
                                <tr class="error">
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        02/04/2012
                                    </td>
                                    <td>
                                        Declined
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        03/04/2012
                                    </td>
                                    <td>
                                        Pending
                                    </td>
                                </tr>
                                <tr class="info">
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        04/04/2012
                                    </td>
                                    <td>
                                        Call in to confirm
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 column">
                <img alt="正在加载数据库中图片......" src="{% static 'img/头门1-4立面图照片.jpg' %}" class="img-thumbnail" />
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <p>
                    <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
                </p>
            </div>
            <div class="col-md-4 column">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>
                        注意!
                    </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
                </div>
            </div>
            <div class="col-md-4 column">
                <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
            </div>
        </div>
    </div>
</body>
</html>