<!DOCTYPE html>
{% load staticfiles %}
<meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>GzArch</title>
    <script type="text/javascript" src="{% static 'jQuery-2.1.4/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <script>
            var str_arch = "万木草堂";
            function load_dirs()
            {
                xmlhttp = new XMLHttpRequest();
                x = document.getElementById("panel-423334")
                x.innerHTML = "当前建筑群是: "+ str_arch ;
                y= document.getElementById("column_image_display")

                y.innerHTML = "<img alt=\"正在加载数据库中图片......\" src=\"{% static 'img/头门1-4立面图.jpg' %}\" class=\"img-thumbnail\" />"

            }
        </script>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">简介</a>
                    </li>
                    <li class="disabled">
                        <a href="#">信息</a>
                    </li>
                    <!--==================================一个下拉菜单，目前没用，暂时保留==========================================
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">操作</a>
                            </li>
                            <li>
                                <a href="#">设置栏目</a>
                            </li>
                            <li>
                                <a href="#">更多设置</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">分割线</a>
                            </li>
                        </ul>
                    </li>
                    ======================================================================================    -->
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="carousel slide" id="carousel-178979">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-178979">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-178979">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-178979">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="i非遗建筑" src="{% static 'img/头门1-4立面图照片.jpg' %}" class="img-thumbnail" sizes="" />
                            <div class="carousel-caption">
                                <h1>
                                    <big><big><big><i>i.</i>非遗建筑</big></big></big>
                                </h1>
                                <p>
                                    岭南非遗建筑保护资料站
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="i非遗建筑" src="{% static 'img/头门1-4立面图.jpg' %}" class="img-thumbnail" />
                            <div class="carousel-caption">
                                <h1>
                                    <big><big><big><i>i.</i>非遗建筑</big></big></big>
                                </h1>
                                <p>
                                    岭南非遗建筑保护资料站
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="i非遗建筑" src="{% static 'img/头门C-A立面图.jpg' %}" class="img-thumbnail" />
                            <div class="carousel-caption">
                                <h1>
                                    <big><big><big><i>i.</i>非遗建筑</big></big></big>
                                </h1>
                                <p>
                                    岭南非遗建筑保护资料站
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-178979" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-178979" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
        <!--===================================下面是检索区=========================================-->
        <div class="row clearfix">
            <div class="col-md-8 column">
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">建筑群<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">操作</a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#">另一操作</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">其它</a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">室内外<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">另一操作</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">其它</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">院落<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">另一操作</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">其它</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">建筑体位置<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">另一操作</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">其它</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">内容<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">另一操作</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">其它</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">非遗类型<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">另一操作</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">其它</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">测绘图/照片<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">另一操作</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">其它</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">测绘图纸编号<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">另一操作</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">其它</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <!--===================================下面是建筑群导航栏====================================================-->
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <div class="tabbable" id="tabs-213291">
                            <ul class="nav nav-tabs">
                                <li class="disabled"><a href="#panel_tab-100001" class="disabled "><i><small><small><font color=":#00ffff">建筑群：</font></small></small></i></a></li>
                                {% for arch_name in arch_list %}
                                <li>
                                    <a href="#panel-423334" data-toggle="tab" id="panel_tab-100001" onclick=" load_dirs()">{{arch_name}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                            <!--==================这个导航内容说明部分暂时保留===================================-->
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-423334">
                                    
                                </div>

                            </div>
                            <!--===============================================================================-->
                        </div>
                    </div>
                    <div class="col-md-10 column">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Library</a>
                            </li>
                            <li class="active">
                                Data
                            </li>
                        </ul>
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        产品
                                    </th>
                                    <th>
                                        交付时间
                                    </th>
                                    <th>
                                        状态
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Default
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                </tr>
                                <tr class="error">
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        02/04/2012
                                    </td>
                                    <td>
                                        Declined
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        03/04/2012
                                    </td>
                                    <td>
                                        Pending
                                    </td>
                                </tr>
                                <tr class="info">
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        04/04/2012
                                    </td>
                                    <td>
                                        Call in to confirm
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 column" id="column_image_display">
                <img alt="正在加载数据库中图片......" src="{% static 'img/头门1-4立面图照片.jpg' %}" class="img-thumbnail" />
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <p>
                    <em>i.非遗建筑</em> 是一个非遗建筑保护展示网站，由 <strong>广州大学建筑与城市规划学院庞玥老师</strong> 主持，用来对非遗建筑的测绘和保护成果进行展示。 <small></small> 
                </p>
            </div>
            <div class="col-md-4 column">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>
                        ICP 粤
                    </h4> <strong>i.非遗建筑</strong> 粤准字 XXXXXXXXXXXX <a href="#" class="alert-link">link</a>
                </div>
            </div>
            <div class="col-md-4 column">
                <address> <strong>i.非遗建筑保护</strong><br /> 广州大学 建筑与城市规划学院<br /> 广州市 番禺区 大学城<br /> <abbr title="Phone">P:</abbr> 13600000000</address>
            </div>
        </div>
    </div>
</body>
</html>